body{
    background-color: silver;
}

p{
    margin: 15px;;
    font-size: 25px;
    color: white;
    width: 500px;
}

h2{
 font-size: 70px;
 color: white;
 background-color: #5D5C5C;
 width: 500px;
 margin-right: auto;
}

article{
    width: 800px;
    background-color: #5D5C5C;
    padding: 15px;
}