*{
    padding: 0;
    margin: 0;
}
body{
    background-color: silver;
}

header{
    background-color: #5d5d5d;
    color: white;
    height: 60px;
    border-radius: 40px;
    margin: 10px
}

nav{
    width:80%;
    height:100%;
    margin:0 auto;
}

nav > ul{
    display:flex;
    list-style:none;
    height:100%;
    width: 100%;
    align-items:center;
    justify-content: center;
    gap: 60px;
    font-size: 150%;
}
nav > ul > li{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    background: gray;
}

li:hover{
 cursor: pointer;
}

nav > ul > li > a{
    color: white;
    height:100%;
    width:100%;
    display: block;
    text-align: center;
    line-height: 60px;
}
button{
    background: transparent;
    color: white;
    border: none;
    font-size: 100%;
}
.header-img{
    width: 40vw;
    float: right;
}

input{
  
}

article{
    width: 30vw;
    margin:0 auto;
}

img{
    width: 85px;
    border-radius: 5px;
    margin: 10px;
    height: 400px;
    display: block;
    transition: 0.2s transform;

    /* float:left;  */
}


img:hover{
    transform: scale(1.05);
}

section{
    width: 30vw;
    background-color: #5d5d5d;
    padding: 15px;
    margin: 15px;
    color: white;
    font-size: medium;
    display: block;
    size: 50vw;
}
h2{
  font-size: 60px
        
}
p{
    font-size: 30px;
    margin: 15px;
    font-style: oblique;
}


div{
    background-color: #5d5d5d;
    padding: 10px;
    color: white;
    display: block;
    width: 30%;
    margin: 10px
}

div > h1{
    font-size: 20px;
    font-style: oblique;
}

div > h2{
    font-size: 20px;
    font-style: italic;
}

div > p{
    font-size: 20px;
}

.foto{
    background-image: url(img/foto4.jpg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

h1{
    font-size: 50px;
    color: white;
}

.overons{
    width: 30vw;
    background-color: #5d5d5d;
    padding: 15px;
    margin: 15px;
    color: white;
    font-size: 30px;
    display: block;
    size: 30vw;
}

.body{
    background-image: url(img/foto\ 2.jpg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.Nu{
   color: white;
   font-size: 20px;
   font-style: oblique;
}

.kunst{
 font-size: 22px;
 font-style: oblique;
}

.kunstenaars{
    font-size: 22px;
 font-style: oblique;
}

.kunsten{
    background-image: url(img/IMG_5855.jpg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}



footer{
    background-color: #5d5d5d;
    height: 40px;
    display: flex;
    align-items: center;
    color: white;

}

footer > p{
    padding: 10px;
    font-size: 20px;
    font-style: italic;
}

.mainNavigation{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0,8s all;
}

.mainNavigationList{
  list-style: none;
}

.mainNavigationListItem{
   color: white;
   font-size: 350%;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 20px;
}

.mainNavigationListItem > a{
    text-decoration: none;
    color:white;
}

@media  screen and (max-width: 1000px) {
    article{
       width: 80vw;
     }
     footer > p{
        width: 80vw;
     }
     img:hover{
        transform: none;
     }
    
}

@media screen and (max-width: 600px){
    body{ 
        font-size: 16px;
    }
    article{
        width: 100vw;
        padding: 20px;
      }
      h1{
        font-size: 180%;
      }
      footer > p{
        font-size: 100vw;
        padding-left: 20px;
      }
      
}
